body{
  box-sizing: border-box;
  justify-content: center;
  cursor: none;
}

.App {    
  display: flex;
  justify-content: center;
  width: 98vw;
  color: #37334B;
  background-color: #E7E0FF;
  /* border: 2px solid blue; */
  box-sizing: border-box;
}

::selection{
    color: white;
    background-color: #B49BFF;
}

