body{
  background-color: #FFE8F7;
}

.App {
  height: 100vh;
  width: 100vw;
  color: black;
  background-color: #FFE8F7;
}

.nav{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
  height: 10%;
  /* border: 2px solid red; */
  box-sizing: border-box;
}

.body{
  display: flex;
  justify-content: center;
  /* background-color: green; */
}
