.featured{
    padding: 50px;
    /* border: 2px solid pink; */
    margin-top: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 80vh; */
    width: 100%;
    gap: 7vw;
}

.judges-entry-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6.5px;
    height: 65vh;
    width: 22vw;
    /* border: 2px solid #b49bff; */
    border-radius: 15px;
    background: linear-gradient(145deg, #f7f0ff, #d0cae6);
    box-shadow:  9px 9px 32px #747080,
                 -9px -9px 32px #ffffff;

}

.judges-entry-card h1{
    text-align: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.judges-entry-card p{
    text-align: center;
    font-size: 13px;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.judges-entry-card .reward-btn{
    text-align: center;
}

.reward-btn button{
    height: 25px;
    width: 70px;
    border-radius: 6px;
    outline: none;
    background-color: #bdacef;
    border: none;
    transition: ease-in-out 0.2s;
}

.reward-btn button:hover{
    background-color: #9571ff;
}

.entry-img{
    border-radius: 10px;
    overflow: hidden;
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.entry-img img{
    height: 100%;
    width: 100%;
}